body{
      background: url(maxresdefault.jpg);
      background-repeat: no-repeat;
      background-size: cover;
}
#heading2
{
    
    margin:auto;
    display: flex;justify-content: space-evenly;


}

#heading{
    color:white;
    background-color:black;
    width: 700px;
    text-align: center;
    margin:auto;
    margin-top: 50px;
}

#content{
    display: flex;
    background: rgba(0, 0, 0,0.7) ;
    height: 500px;
    width: 1200px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
   
}
img{
    height: 150px;
    width: 150px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}